#original, #ocrina, #skyward, #breath {
  display: block;
}

div#skyward {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://cdn.hipwallpaper.com/i/47/23/mzFjEB.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#ocrina {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://images2.alphacoders.com/852/thumb-1920-852385.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#breath {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("https://wallpaperaccess.com/full/1821304.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#scrollable {
  overflow-y: scroll;
  width: 100%;
  height: auto;
}
