.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 50px;
}

#flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a#centering {
  left: 50%;
  color: white;
  align-content: space-evenly;
  padding: 5px;
  margin: 5px;
}

a#centering:hover {
  color: #b8860b;
}

span {
  color: #b8860b;
  font-weight: bolder;
}

#smaller-img {
  height: auto;
  float: right;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.control {
  flex: 60%;
}

.controller {
  flex: 40%;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {
  .control, .controller, .column {
    flex: 100%;
  }
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

figcaption {
  text-align: center;
  font-family: Bitter;
  font-weight: bolder;
  color: #b8860b;
}
